apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- ./deployment-patch.yaml

images:
- name: 192.168.0.105:5000/argocd-demo
  newTag: 7cb686fcc9f230571ddc4f1c238949e42b605a77
resources:
- ../base
