apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- ./deployment-patch.yaml

images:
- name: 192.168.0.105:5000/argocd-demo
  newTag: 73df59b3402c8484a7091bd142c86a731a28c324
resources:
- ../base
