apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- ./deployment-patch.yaml

images:
- name: 192.168.0.105:5000/argocd-demo
  newTag: aab0abae95f4350e1effc983d3e3b3d25eaef094
resources:
- ../base
