apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patchesStrategicMerge:
- ./deployment-patch.yaml

images:
- name: 192.168.0.105:5000/argocd-demo
  newTag: 76a963bd59a6b2da3bd41348a889caf60bcfd494
- name: datahubid/argocd-demo
  newTag: 3824e3ce01af4947d4375c2d8fb22159d12e5c04
resources:
- ../base
